* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 10%);
    overflow-x: hidden;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav {
    display: flex;
    justify-content: space-between;
  font-family: 'Open Sauce', sans-serif;
  color: #AAAAAA;
  margin-top: 1rem;
}
.mobile-nav-toggle {
    display: none;
}
a {
    text-decoration: none;
}
.logo-wrapper {
    display: flex;
      justify-content: space-between;
      align-items: center;
    }
.logo-wrapper button {
    display: none;
}
.logo-wrapper a {
    color: #AAAAAA;
}
.nav-aside .navigation {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.navigation li a {
  color: #AAAAAA;
  margin-left: 2.5rem;
  text-transform: uppercase;
}
.navigation li a:hover {
opacity: .75;
}
.hero-section {
    color: #AAAAAA;
}
.hero-section h2 {
   text-decoration: #AAAAAA underline;
    font-family: 'Bebas Neue',  sans-serif;
    font-size: 1.5rem;
}
.text-section .embed-link {
    opacity: 0.8;
    color: #AAAAAA;
}
.text-section .embed-link:hover {
    color: #f76236;
}
.hero-section {
    display: flex;
    font-family: 'Open Sauce', sans-serif;
    justify-content: space-between;
    height: 450px;
    align-items: center;
}
.hero-section .text-section {
    width: 50%;
    text-align: justify;
    font-size: 1.2rem;
}
.text-section .skills h3 {
    text-decoration: #AAAAAA underline;
    font-size: 1rem;
}
.skills p {
    font-size: 0.9rem;
    margin-top: .2rem;
}
.hero-section .image-section {
    width: 30%;
    transform: translateY(2rem);
}
 
.image-section .image {
    display: block;
    width: 90% ;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-left: auto;
}
 .text-section .socials {
    display: flex;
    justify-content: center;
    transform: translateY(2rem);
}
 .socials a + a {
    margin-left: .7rem;
}
@media (max-width:650px){
    .logo-wrapper .mobile-nav-toggle {
        display: block;
        background: url("images/bars-solid.svg");
        border: none;
        padding: .6rem;
        position: absolute;
        width: 1.3rem;
        aspect-ratio: 1;
        right: 2rem;
        z-index: 9999;
      }
      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/icon-close.svg);
        background-repeat: no-repeat;
      }
      .nav-aside .navigation {
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 50%;
        padding: min(20vh, 10rem) .3rem;
        font-size: 1.1rem;
        background-color: hsl(0, 0%, 10%);
        height: 100vh;
        gap: 1.6rem;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
      }
      .nav-aside .navigation[data-visible="true"] {
        transform: translateX(0%);
      }
      .navigation li {
          border-bottom: 1px solid #AAAAAA;
      }
      .navigation li a {
        color: #AAAAAA;
      }
      .hero-section {
          flex-direction: column;
      }
      .hero-section .text-section {
          width: 100%;
          order: 2;
          font-size: 1rem;
          margin-top: 4rem;
      }
      .hero-section .image-section {
          width: 100%;
          order: 1;
          margin-right: 3rem;
      }
      .image-section .image {
          height: 40vh;
      }
      .socials {
          margin-bottom: 3rem;
      }
 }